.dashboard{
  width: 100%;
  display: flex;
  background-color: lighten(skyblue,20%);
  border-radius: 8px;
}

.image{
  width: 650px;
  height: 500px;
  border-radius: 5px;;
}

.label{
  font-size: 24px;
  font-weight: 800;
  margin-left: 40px;
  margin-top: 180px;
}

.btn{
  margin-left: 40px;
  margin-top: 20px;
  width: 250px;
  height: 30px;
  border: none;
  background-color: skyblue;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  }
.btn:hover{
    background-color: lighten(blue,25%);
}
