<footer>
  <div class="test">
    <div class="contain">
        <div class="contain-wrap">
  <div class="dark">

            </div>
        </div>

        <div class="extra">
        </div>

    </div>

    <div class="light">
        <app-logo class="root">
        </app-logo>
    </div>


  </div>
  <div style="background-color:black;
  display:flex; flex-direction: column; align-items: center;"><div style="display: flex;">
  <div style="color:white;margin: 15px ;padding:20px"><strong>Made by :</strong>  <div style="margin-top: 8px;">Aditya Suhane - 0801CS181005</div> <div>Akhilesh Ingle - 0801CS181010</div> <div>Krishna Agrawal - 0801CS181033</div><div>Sanskar Gupta - 0801CS181071</div> <div> Sourav Suryawanshi - 0801CS181084</div></div>
  <div style="color:white;margin: 15px;padding:20px"><strong>Guide: </strong><div style="margin-top: 8px;"><div>Assistant Professor</div> Neha Mehra</div></div>
  <div style="color:white;margin: 15px;padding:20px"><strong> In Charge: </strong><div style="margin-top: 8px;">Dr. Vandan Tewari</div></div>
  <div style="color:white;margin: 15px;padding:20px"><strong>Head of Department: </strong>  <div style="margin-top: 8px;">Dr. Urjita Thakar</div></div>
  <div style="color:white;margin: 15px;padding:20px"><strong>Reviewer: </strong><div style="margin-top: 8px;">Dr. Sonika Shrivastava</div></div>
</div>
  <div style="color:wheat;margin: 5px;align-self: center; margin:30px;">Final Year Major Project &copy; 2022 Shri Govindram Seksaria Institute of Technology and Science, Indore</div>
</div>

</footer>
